
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Lato";
}

h1 {
    font-size: 100px;
    color: white;
    opacity: 0.2;
    position: absolute;
    top: 31%;
    left: 20%;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}

.fa-user {
    color: white; 
    opacity: 0.7;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.67)),url(img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}


html,body {
    background-color: #fff;
    color: #4d4d4d;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
    margin-right: 30px;
}

/* -----------------------------------*/
/* ----------Main Navigation----------*/
/* -----------------------------------*/

.main-nav {

    float: left;
    list-style: none;
    margin-top: 10px;
    width: 100%;

}

.main-nav2 {

    float: right;
    list-style: none;
    margin-top: 10px;
}

.main-nav2 li { /* select all li elemnts inside it */

    display: inline-block;
    margin-left: 50px;

}

.main-nav li { /* select all li elemnts inside it */

    display: inline-block;
    margin-left: 50px;

}

.main-nav li a:link,
.main-nav li a:visited { /* select all li elemnts inside it */

   padding: 8px 0;
   color: white;
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 90%;
   border-bottom: 2px solid transparent; /* dont do it unitl you hover it*/
   transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active {

    border-bottom: 2px solid #e67e22

}


.main-nav {
   margin-top: 50px;
}